<h2><center>Update <%= @word.word_name() %></center></h2>

<form action="/words/<%= @word.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <h4 for="word_name">Edit Word:</h4>
  <input id="word_name" name="word_name" type="text" class="form-control">
  <h4 for="definition">Edit Definition:</h4>
  <input id="definition" name="definition" type="text" class="form-control">
  <h4 for="image">Edit Word Image:</h4>
  <input id="image" name="image" type="url" class="form-control">
  <button type="submit" class="btn btn-primary">Update!</button>
</form>
<br>
<form action="/words/<%= @word.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit" class="btn btn-danger">Delete word</button>
</form>
<br>
<form action="/words" method="get">
  <button type="submit" name="new" class="btn btn-success">Return to Word List</button>
</form>
