<!DOCTYPE html>
<html>
<head>
  <title>Jungle Word Jumble</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  <link rel='stylesheet' href='/styles.css'>
</head>
<body>
  <div class="container">
    <div class="jumbotron banner">
      <h1><center>Wild Words</center></h1>
    </div>
    <div class="container">
      <div class="card">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
