<h1>Add a New Word!</h1>

<form action="/words" method="post">
  <div class="form-group">

    <label for="word_name">Word</label>
    <input id="new" name="word_name" class="form-control" type="text">

    <label for="word_year">Definition</label>
    <input id="new" name="definition" class="form-control" type="text">

    <label for="image">Image URL</label>
    <input id="new" name="image" class="form-control" type="text">

  </div>

  <button type="submit" class="btn btn-primary">Let's Go!</button>

</form>
