<h2><center>Create a New Word!</center></h2>

<form action="/words" method="post">

  <div class="form-group">
    <h4 for="word_name">Word</h4>
    <input id="new" name="word_name" class="form-control" type="text">
    <h4>Add an image to your word!</h4>
    <input id="new" name="image" class="form-control" type="text" placeholder="Image url">
  </div>

  <button type="submit" class="btn btn-primary">Let's Go!</button>

</form>
