<h2>Word: <%= @word.word_name %></h2>
<h3>Definition: <%= @word.definition %></h3>
<img src="<%= @word.image %>" alt="">

<form action="/words/<%= @word.id %>/edit" method="get">
  <button type="submit" name="edit" class="btn btn-primary">Edit Word</button>
</form>
<br>
<form action="/words" method="get">
  <button type="submit" name="new" class="btn btn-success">Return to Word List</button>
</form>
