<h3>Here you can make your very own silly dictionary with your very own silly made-up words! Click below to add a silly word to your silly dictionary. You can even add a photo or definition to your words too!</h3>

<h2><center>Your Words:</center></h2>

<% if @words.any? %>
<% @words.each do |word| %>
<h3><a href="/words/<%= word.id %>"><strong><%= word.word_name %></strong></a></h3>
<% end %>
<% else %>
<h4><center>There are currently no words to display.</center></h4>
<% end %>

<form action="/words/new" method="get">
  <button type="submit" name="new" class="btn btn-primary">Add New Word</button>
</form>
<br>
<form action="/words" method="get">
  <button type="submit" name="alphabetize" class="btn btn-warning">Alphabetize!</button>
</form>

<h3><center>Word Search</center></h3>
<form action="/words">
  <div class="form-group">
    <input id="search" name="search" class="form-control bg-success" type="text">
  </div>
  <button type="submit" class="btn btn-success">Let's Go!</button>
</form>
