<h3><center>Word Search</center></h3>
<form action="/words">
  <div class="form-group">
    <input id="search" name="search" class="form-control bg-success" type="text">
  </div>
  <button type="submit" class="btn btn-primary">Let's Go!</button>
</form>

<h3><center>Your Words</center></h3>
<% if @words.any? %>
<ul>
  <% @words.each do |word| %>
  <li><a href="/words/<%= word.id %>"><strong><%= word.word_name %></strong></a></li>
  <% end %>
</ul>
<% else %>
<p>There are currently no words to display.</p>
<% end %>

<a href="/words/new">Add a new word</a>
